/*
Colors:
Palette: https://coolors.co/320503-4f5d75-cb8857-4d7ea8-f3f5f7
*/
$chocolate: #320503ff; // --dark-sienna
$slate: #4f5d75ff; // --independence
$dough: #cb8857ff; // --raw-sienna
$highlight: #4d7ea8ff; //--steel-blue
$milk: rgba(243, 245, 247, .8); // --cultured

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&family=Tangerine&display=swap');

$title-font: 'Tangerine', cursive;
$body-font: 'Roboto', sans-serif;

@mixin content-box() {
    background-color: $milk;
    border: 2px solid $slate;
    color: $highlight;
}

.div {
    border: 1px solid rgba(0,0,0,.4);
    margin: 1px;
    min-width: 10px;
    min-height: 10px;
}

body,html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $body-font;
    color: $highlight;
    min-width: 500px;
}

#page-wrapper {
    background-image: url(./cookie-stack.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

#header {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    margin-bottom: 2rem;
}

.title {
    font-family: $title-font;
    font-size: 5.5rem;
    margin-bottom: 0px;
    margin-bottom: -.25em;
    z-index: 5;
    color: $slate;
}

.title-baseline {
    width: 23rem;
    border: 2px solid $dough;
    border-radius: 50%;
    margin-bottom: 1.7rem;
    content: 'y';
}

.subtitle-band {
    background-color: $milk;
    color: $slate;
    width: 100%;
    text-align: center;
}


.subtitle {
    margin: .1em;
    font-family: $body-font;
    font-style: italic;
    font-size: 1.2rem;
}

.nav {
    display:flex;
    justify-content: center;
}

.nav-tab-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width:20em;
    justify-content: space-between;
}

.nav-tab {
    @include content-box();
    margin: 0em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: none;
    padding: .5em;
    border-bottom: none;
}

.nav-tab.active {
    transform: scale(1.2);
    margin-bottom:.1em;
}

#content {
    display: flex;
    justify-content: center;
}

.content-container {
    width:80%;
    max-width: 35em;
    text-align: center;
    min-height: 20em;
    border-radius: 2em;
    @include content-box;
}
